# Paths
data_dir: /Users/giovanni/Desktop/Tesi di Laurea/database
# data_dir: /Users/giovanni/Desktop/Tesi di Laurea/database atet
# data_dir: /Users/giovanni/Desktop/Tesi di Laurea/database atet multimodale
save_path: /Users/giovanni/Desktop/Tesi di Laurea
results_path: /Users/giovanni/Desktop/Tesi di Laurea/results
predictor_path: /Users/giovanni/Desktop/Tesi di Laurea/model_checkpoints/face_alignment

browse_path: False

# On/Off show images
show_images:
  pre_processed_face_image: True
  detected_face_bounding_box: True
  alignment_face_image: True
  post_processed_face_image: True
  features_extracted_face_image: True

save_image:
  pre_processed: True
  detected: True
  detected_face: True
  post_processed: True
  features_extracted: True

use_checkpoint: False

detector: yolo # viola-jones # CNN
features_extractor: fisherface # fisherface #  gabor_wavelet # lbp
matching_algorithm: euclidean # chi-square # hamming # euclidean # cosine_similarity

pre_processing:
  remove_background: False

detection:
  image_size: 256

face_alignment:
  desired_left_eye: [0.35, 0.35]
  angle_threshold: 2
  factor: 0.9

post_processing:
  width_factor: 0.9
  max_height_ratio: 1.25
  min_margin_above_eyes: 0.23
  bottom_cut_ratio: 1.20
  clahe:
    cliplimit: 3.0 #2.0
    tilegridsize: [8, 8] #[8, 8]
  image_size: 32 # 128 224 # Dimensione standard per il ridimensionamento dei volti (448)

features_extraction:
  fisherfaces:
    load_model: True # False # True
    scaler_type: None #'standard'
    checkpoints_dir: /Users/giovanni/Desktop/Tesi di Laurea/model_checkpoints/face_lda

matching:
  test_ratio: 0.2 # 0.2
  threshold: 16